<div class="card">
  <div class="card-header">
    <span class="head-text">About</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to Immunization</h5>
    <p class="card-text">Prevention of infectious diseases. This is not a commercial project. This project is an implementation of a test task for testing technical knowledge of REST, JS programming, Angular framework devices, as well as HTML and CSS knowledge.</p>
    <a routerLink="/patients" class="btn btn-sm btn-theme-primary">Go to Patients</a>
  </div>
</div>