header a.link-out {
    cursor: pointer;
    &:hover {
        background-color: rgba(255,255,255, .1);
        border-radius: 0.25rem;
    }
}

a.logo {
    font-size: 1.25rem;
    & i {
        color: #F44336;
    }
}