<vaccination-modal (data)="handleQueryVaccination($event)" [patient]="patient"></vaccination-modal>
<patient-modal (data)="updatePatient($event)"></patient-modal>
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="d-flex align-items-center">
      <a routerLink="/patients" class="btn btn-sm btn-theme-primary" role="button" aria-pressed="true"><i class="fa fa-long-arrow-left mr-1"></i>Back</a>
      <span class="head-text ml-3">
        Patient
        <span *ngIf="(patient$ | async)?._id as patientId" class="badge badge-secondary ml-2">ID: {{ patientId }}</span>
        <span *ngIf="patientLoading" class="position-relative ml-2"><skeleton-loading width="240px" opacity="0.15"></skeleton-loading></span>
      </span>
    </span>
    <button (click)="openPatientModal()" class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o mr-1"></i>Edit</button>
  </div>
  <div class="card-body position-relative">
    <div class="position-relative">
    <table class="table mb-4 table-sm p-detail">
      <tbody>
        <tr>
          <th scope="row" class="w-15">Name:</th>
          <td class="w-85">
            <span *ngIf="!patientLoading">{{ patient?.firstName }}</span>
            <skeleton-loading *ngIf="patientLoading" width="120px"></skeleton-loading>
          </td>
        </tr>
        <tr>
          <th scope="row" class="">Surname:</th>
          <td>
            <span *ngIf="!patientLoading">{{ patient?.lastName }}</span>
            <skeleton-loading *ngIf="patientLoading" width="180px"></skeleton-loading>
          </td>
        </tr>
        <tr>
          <th scope="row" class="">Birth date:</th>
          <td>
            <span *ngIf="!patientLoading">{{ patient?.birthDate | dotsDate }}</span>
            <skeleton-loading *ngIf="patientLoading" width="150px"></skeleton-loading>
          </td>
        </tr>
        <tr>
          <th scope="row" class="">Gender:</th>
          <td>
            <span *ngIf="!patientLoading">
              <span *ngIf="patient?.sex === 1">Male</span><span *ngIf="patient?.sex === 2">Female</span>
            </span>
            <skeleton-loading *ngIf="patientLoading" width="100px"></skeleton-loading>
          </td>
        </tr>
        <tr>
          <th scope="row" class="">Phone:</th>
          <td>
            <span *ngIf="!patientLoading">{{ patient?.phone }}</span>
            <skeleton-loading *ngIf="patientLoading" width="150px"></skeleton-loading>
          </td>
        </tr>
        <tr>
          <th scope="row" class="">Registration:</th>
          <td>
            <span *ngIf="!patientLoading">{{ patient?.registerDate | date:'medium' }}</span>
            <skeleton-loading *ngIf="patientLoading" width="200px"></skeleton-loading>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">Vaccinations performed</h5>
      <button (click)="openVaccinationModal()" class="btn btn-sm btn-theme-primary">Add vaccination</button>
    </div>
    <table class="table table-bordered table-sm thead-bg table-hover">
      <thead>
        <tr>
          <th class="w-10" scope="col">#</th>
          <th class="w-30" scope="col">Vaccine</th>
          <th class="w-10" scope="col">Agreement</th>
          <th class="w-30" scope="col">Assignment date</th>
          <th class="w-20" scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngIf="(vaccinations$ | async) as vaccinations; else loadingOrError">
        <tr *ngFor="let vaccination of vaccinations; trackBy: trackById; let i = index;" (click)="openVaccinationModal(vaccination)" class="pointer">
          <th scope="row">{{ i + 1 }}</th>
          <td><span *ngIf="vaccination.vaccineName">{{ vaccination.vaccineName }}</span></td>
          <td><span *ngIf="vaccination.agree === 0">No</span><span *ngIf="vaccination.agree === 1">Yes</span></td>
          <td><span *ngIf="vaccination.createdDate">{{ vaccination.createdDate | date:'medium' }}</span></td>
          <td>
            <span *ngIf="vaccination.status === 1" class="badge badge-warning">Assigned</span>
            <span *ngIf="vaccination.status === 2" class="badge badge-success">Completed</span>
            <span *ngIf="vaccination.status === 3" class="badge badge-secondary">Cancelled</span>
          </td>
        </tr>
        <tr *ngIf="vaccinations?.length === 0">
          <td class="text-center" colspan="5">
            Not found
          </td>
        </tr>
      </tbody>
      <ng-template #loadingOrError>
        <tbody>
          <tr>
            <td *ngIf="errorVaccinations; else loadingBlock" class="text-center bg-danger text-white" colspan="5">
              Sorry, something went wrong...
            </td>
            <ng-template #loadingBlock>
              <td class="text-center" colspan="5">
                Loading...
              </td>
            </ng-template>
          </tr>
        </tbody>
      </ng-template>
    </table>

  </div>
</div>